/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
.jumbotron {
	text-align: center;
	background-image: url(../images/hero_image.jpg);
	color: white;
}

.btn-lg {
	font-size: 36px;
	}

ul.nav, .jumbotron h1 {
	font-family: 'Arvo', courier serif;
}

ul.nav {
	font-size: 13px;
}

#get-involved {
	background-color: #F5F5F5;
}

.jumbotron h1 {
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron p {
margin-bottom: 30px;
font-weight: 100;
padding: 0 50px;	
}

.homepage {
 	text-align: center;
 	padding-top: 30px;
    padding-bottom: 30px;
 }

.homepage h2, .homepage h3 {
	font-family: 'Arvo', courier serif;
	color: #e74c3c;
	text-transform: uppercase;
}

.homepage h3 {
	font-size: 26px;
}

.homepage p {
	font-size: 21px;
    font-weight: 300;
}

.homepage a {
    color: #e74c3c;
}

.homepage a:hover {
	text-decoration: none;
	opacity: .5;
}

.homepage hr {
	border-color: #e74c3c;
    width: 160px;
    margin-top: 15px;
}

footer {
	background-color: #f74c3c;
    padding-top: 150px;
    padding-bottom: 30px;
}

/* responsive styling */

@media (max-width: 1199px) {

	.jumbotron h1 {
		font-size: 56px;
		margin-bottom: 30px;
	}

}

@media (max-width: 991px) {

	.jumbotron h1 {
		font-size: 44px;
		margin-bottom: 30px;
	}

	.jumbotron p {
		padding: opx 10px;
	}

	#get-involved .col-md-4 {
		padding-top: 20px;
		padding-bottom: 20px;
	}

}

@media (max-width: 767px) {

	.jumbotron h1 {
		font-size: 24px;
	}

	.jumbotron p {
		font-size: 18px;
	}

	.btn-lg {
		font-size: 18px;
	}

	#get-involved .col-md-4 {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	footer img {
		width:80%;
	}
}


